*{
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	font: .9em Helvetica,Arial,sans-serif;
	line-height: 1.62;
}

a:link, a:active, a{
	text-decoration: none;
	color: #522;	
}

a:hover {
	color: #844;
}

ul {
	margin: 0;
	padding: 0;
}

h1{
	font-size: 3em;
}

article, section, aside {
	display: block;
}

li {
	list-style-type: none;
}

table{
	border: none;
}

td {
	padding-right: 3em;
}

.field {
	margin-bottom: 1em;
}

.page{
	min-width: 31em;
	width: 90%;
	margin: 3em auto;	
	position: relative;
}

.sign-module{
	position: absolute;
	right: 0;
	top: 0;
}

.sign-module li {
	margin-left: 1em;
	display: inline-block;
}

.wrapper {
	width: 100%;
	min-height: 42em;
	border: 1px solid #999;
	position: relative;
}

.nav-bar {
	padding: 1.2em;
	height: 3em;
	background-color: #444;
}

.nav-bar ul {
	display: inline-block;
}

.nav-bar li {
	display: inline-block;
	padding: 0 .8em;
	border: 1px solid #ccc;
	border-radius: 1em;
	background: #ccc;
	margin: 0 .3em;
	cursor: pointer;
}

article, aside {
	min-height: 35em;
}

article{
	padding:1em;
	width: 70%;
	border-right: 1px solid #999;
}

aside{
	width: 26%;
	position: absolute;
	left: 72%;
	top: 5.4em;
	padding: 1em;
}

aside>div{
	padding: 0 1.5em;
}

aside>div>h3 {
	border-bottom: 1px solid #999; 
}


.separator {
	padding-left: .5em;
	padding-right: .5em;
	border-left: 1px solid #ccc;
}

.avatar {
	float: left;
	margin-right:1.3em;
}

.avatar img {
	width: 5em;
	height: 5em;
	border-radius: 50%;
}

.item {
	height: 5em;
	margin: 0 1.2em;
	padding: 1.2em 2em;
	border: 0.1em solid #ccc;
	border-radius: 1em;
}

.item .info {
	display: inline;
	margin-left: 1em;
}

section.item+section.item{
	margin-top: 2em;
}

.large-font{
	color: #fff;
	font-size: 2em;
}


.main-nav {
	position: absolute;
	right: 0;
	top: -3.4em;
}

.main-nav ul {
	margin: 0;
	padding: 0;
}

.main-nav li {
	display: inline-block;
	cursor: pointer;
	border-radius: 1em;
	padding: .85em 1.8em;
	border: 1px solid;
	border-color: #999 #999 transparent #999;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

li.active {
	background-color: #eee;
	font-weight: bold;
	cursor: default;
}

.actions, .resources {
	display: inline;
}

.resources {
	margin-left: 1em;
}

.resources a{
	padding-right: 1em;
}

.resources a.actions{
	color: #444;
}

.resources i {
	margin-left: 5px;
	font-size: 1.3em;
	color: #666;
}

.resources i:hover{
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	color: #999;
} 

.res-module{
	background-color: #ddd;
	border: 1px;
	z-index: 10;
	opacity: 1;
	position: absolute;
	border-radius:20px;
	width: 50%;
	margin-top:1.2em; 
}

.res-module .content{
	position: relative;
	padding: .5em 2em;
}

.res-module .content:before{
	content: "";
	display: inline-block;
	border: 1.2em solid;
	border-color:transparent transparent  #ddd transparent;
	position: absolute;
	top: -2.3em;
	left: 7.2em;
}

#res_collection {
	width: 100%;
}




